{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('security') }}
{% endblock %}

{% block title %}Register{% endblock %}
{% block navbar %} {% endblock %}

{% block body %}

    <main class="form-signin w-100 m-auto">
        {{ form_start(registrationForm) }}
        <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
        {{ form_row(registrationForm.firstName, {
            input_attr: {
                class: 'form-control'
            },
            lable_attr: {
                class: ' '
            },
            row_attr : {
                class: 'form-floating'
            },
            attr : {
                placeholder: ''
            }
        }) }}

        {{ form_row(registrationForm.lastName, {
            input_attr: {
                class: 'form-control'
            },
            lable_attr: {
                class: ' '
            },
            row_attr : {
                class: 'form-floating'
            },
            attr : {
                placeholder: ''
            }
        }) }}

        {{ form_row(registrationForm.email, {
            input_attr: {
                class: 'form-control'
            },
            lable_attr: {
                class: ' '
            },
            row_attr : {
                class: 'form-floating'
            },
            attr : {
                placeholder: 'name@example.com'
            }
        }) }}

        {{ form_row(registrationForm.plainPassword, {
            label: 'Password',
            row_attr : {
                class: 'form-floating'
            },
            attr : {
                placeholder: 'Password'
            }
        }) }}

        {{ form_row(registrationForm.agreeTerms) }}
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
        {{ form_end(registrationForm) }}
    </main>
{% endblock %}
